language: julia
os:
- linux
- osx
julia:
- 0.6
- 0.5
notifications:
  email: true
env:
  global:
    secure: BIVuowpIK36v/q7sURSzMBO+pLWUurKFhZn91mVTPstKyv+bGmKHf4+/gU9LPHA1XXqy2KW9lMC859epuKkcanJcb1fnYUCqQl9qXc892g3r/N0AJ5XCvjMhrqlze14eNYJOMcHYdepDYKWDZhR8XvM9/mWUbgSXE8XpYVMsuJI=
